@import "tailwindcss";


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
body{
  padding: 40px;
  background-color: #151515;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
  color: #f3f3f3;
  font-size: 30px;
  text-align: center;
}
.card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.card{
  border: 1px solid #4b5362;
        padding: 20px;
        margin: 10px;
        background-color: #31363f;
        border-radius: 10px;
        min-height: 100px;
}
button{
  background-color: #4b5362;
  color: #f3f3f3;
  margin-top: 10px;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover{
  background-color:red;
}
button:disabled{
  background-color: #4b5362;
  color: #f3f3f3;
  cursor: not-allowed;
}
button:disabled:hover{
  background-color: #4b5362;
  color: #f3f3f3;
}